
#sitename{
	font-family: arial;
	font-weight: bold;
	position: relative;
	margin: 0;
	padding-bottom: 0;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 0;
	font-size: 40px;
	color: white;
}

#tagline{
	font-family: calibri;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-top:0;
	margin-bottom:0;
	padding-bottom: 20px;
	padding-top: 2px;
	padding-left: 80px;
	padding-right: 0;
	font-size: 18px;
	color: limegreen;
}

header{
	background-color: black;
	}

a{
	text-decoration: none; /* remove underline from all links */
}

body{
	margin: 0;
}
nav{
	margin-top: 0;
	margin-bottom:0;
	background-color: darkslategrey;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: gray;
	border-bottom-color: gray;
	border-top-width: 2px;
	border-bottom-width: 2px;
	color: white;
	padding: 1em 0;
}

nav section{
	display: inline-block;
}

nav section a{
	font-family: calibri;
	font-weight: bold;
	padding: 0 40px 0;
	color: white;
	
}

#pageInfo{

}

#accountInfo{
	float: right;
}
